<app-spinner></app-spinner>
<main class="container">
  <mat-card  *ngIf="assignmentTransmis" class="example-card">
  <mat-card-header>
    <div class="avatar-container">
      <img class="avatar" [src]="assignmentTransmis.matiere.photoProf" alt="Avatar">
    </div>
    <mat-card-title>{{assignmentTransmis.nom}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="assignmentTransmis.matiere.photo" alt="Image">
  <mat-card-content>
    <ul>
      <li>Matière: {{assignmentTransmis.matiere.nom}}</li>
      <li>Elève: {{assignmentTransmis.eleve.nom}}</li>
      <li>Remarque: {{assignmentTransmis.remarques}}</li>
    </ul>
  </mat-card-content>
  <mat-card-footer>
    <mat-checkbox
       [checked]="assignmentTransmis.rendu">
        Rendu
    </mat-checkbox>
    <div  *ngIf="assignmentTransmis.rendu" >
      Note : {{assignmentTransmis.note}}
    </div>
    <div class="date-container">
      <p>{{ assignmentTransmis.dateDeRendu | date }}</p>
    </div>
  </mat-card-footer>
  <mat-card-actions *ngIf="isAdmin && (assignmentTransmis.rendu == null && !assignmentTransmis.rendu)" id="bottom">
    <button mat-raised-button color="primary" (click)="onEditAssignment()">
      MODIFIER
    </button>
  <button mat-raised-button color="accent" (click)="onDeleteAssignment()">SUPPRIMER</button>
  </mat-card-actions>
</mat-card>
</main>
