<mat-card *ngIf="assignmentTransmis">
  <mat-card-content>
    <mat-card-title>{{assignmentTransmis.nom}}</mat-card-title>
    <mat-card-subtitle>Date de rendu : {{assignmentTransmis.dateDeRendu | date: 'dd/MM/yy'}}</mat-card-subtitle>
  </mat-card-content>
  <mat-card-actions id="bottom">
    <mat-checkbox *ngIf="!assignmentTransmis.rendu" (click)="onAssignmentRendu()">
      Rendu
    </mat-checkbox>
    
    <button mat-raised-button color="primary"
            (click)="onEditAssignment()"
            [disabled]="!isLogged()"
    >
      EDIT
    </button>

  <button mat-raised-button color="accent" (click)="onDeleteAssignment()">DELETE</button>
  </mat-card-actions>
</mat-card>