.container {
    display:flex !important;
    flex-direction:row !important;
    justify-content: space-evenly !important;
}

.ajouterBtn {
    align-self: flex-end !important;
}

.example-viewport {
    height: 700px !important;
    width: 100% !important;
    border: 1px solid black !important;
  }

  .example-item {
    height: 150px !important;
  }

  .demo-table {
    width: 100% !important;
  }

  :host .mat-column-id {
    width: 32px !important;
    border-right: 1px solid currentColor !important;
    padding-right: 24px !important;
    text-align: center !important;
  }

  :host .mat-column-nom {
    padding-left: 16px !important;
    font-size: 20px !important;
  }

  :host .mat-column-dateDeRendu {
    font-style: italic !important;
  }

  :host .mat-column-rendu {
    width: 32px !important;
    text-align: center !important;
    font-weight: bold !important;
  }


  /* Drag and drop  */
  .example-container {
    width: 400px !important;
    max-width: 100% !important;
    margin: 0 25px 25px 0 !important;
    display: inline-block !important;
    vertical-align: top !important;
  }

  .example-list {
    border: solid 1px #ccc !important;
    min-height: 60px !important;
    background: white !important;
    border-radius: 4px !important;
    overflow: hidden !important;
    display: block !important;
  }

  .example-box {
    width: 100% !important;
    padding: 10px 20px !important;
    border-bottom: solid 1px #ccc !important;
    color: rgba(0, 0, 0, 0.87) !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
    box-sizing: border-box !important;
    cursor: move !important;
    font-size: 14px !important;
  }

  .avatar {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
    background-color: black !important;
  }

  :host .cdk-drag-placeholder {
    opacity: 0 !important;
  }

  :host .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) !important;
  }

  .example-box:last-child {
    border: none !important;
  }

  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) !important;
  }

  .product-card, .product-card-done {
    height: 150px !important;
    width: 100% !important;
    display: flex !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
    overflow: hidden !important;
    background: var(--blue) !important;
  }

  .product-card {
    background: var(--blue) !important;
  }
  .product-card-done {
    background: var(--green) !important;
  }

  .product-card-image {
    width: 10px !important;
  }

  .product-card-details {
    flex: 1 1 auto !important;
    background-color: #f5f5f5 !important;
  }

  .product-card-header {
    font-size: 18px !important;
    font-weight: bold !important;
    margin-bottom: 8px !important;
  }

  .product-card-footer {
    font-size: 14px !important;
    color: #777777 !important;
  }

/* css for modal */

:host .form-group {
  margin-bottom: 10px !important;
}


/* Style local */
::ng-deep .success-snackbar {
  background-color: #50bfa5!important; /* Couleur de fond en cas de succès */
  color: #000000!important; /* Couleur du texte en cas de succès */
}

::ng-deep .error-snackbar {
  background-color: #CB2823!important; /* Couleur de fond en cas d'erreur */
  color: #ffffff!important; /* Couleur du texte en cas d'erreur */
}
