<h2>{{titre}}</h2>
<cdk-virtual-scroll-viewport itemSize="50" class="example-viewport" #scroller style="margin: auto;">
  <main class="container">
    <div class="example-container">
      <h3>Non rendu</h3>

      <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="assignments" [cdkDropListConnectedTo]="[doneList]"
        class="example-list" (cdkDropListDropped)="drop($event)" >
        <div class="example-box" *ngFor="let item of assignments" [cdkDragDisabled]="!isDragEnabled" cdkDrag >
          <mat-card class="product-card">
            <mat-card-header>
              <mat-card-subtitle>
                Devoir : {{item.nom}}
              </mat-card-subtitle>
              <mat-card-subtitle>
                Matière: {{item.matiere.nom}}
              </mat-card-subtitle>
              <mat-card-subtitle>
                Elève: {{item.eleve.nom}}
              </mat-card-subtitle>
              <mat-card-subtitle>
                <small>à rendre le: {{item.dateDeRendu | date: 'dd/MM/yy'}}</small>
              </mat-card-subtitle>
              <div mat-card-avatar>
                <img [src]="item.matiere.photoProf" [alt]="item.matiere.nom" class="avatar">
              </div>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button color="primary" (click)="editAssignment(item)"><mat-icon>edit</mat-icon>Modifier</button>
              <button mat-button color="primary" (click)="viewDetails(item)"><mat-icon>details</mat-icon>Détail</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>

    <div class="example-container">
      <h3>Rendu</h3>

      <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="assignmentsRendu" class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of assignmentsRendu">
          <mat-card class="product-card-done">
            <mat-card-header>
              <mat-card-subtitle>
                Devoir : {{item.nom}}
              </mat-card-subtitle>
              <mat-card-subtitle>
                Matière: {{item.matiere.nom}}
              </mat-card-subtitle>
              <mat-card-subtitle>
                Elève: {{item.eleve.nom}}
              </mat-card-subtitle>
              <mat-card-subtitle>
                <small>à rendre le: {{item.dateDeRendu | date: 'dd/MM/yy'}}</small>
              </mat-card-subtitle>
              <div mat-card-avatar>
                <img [src]="item.matiere.photoProf" [alt]="item.matiere.nom" class="avatar">
              </div>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button color="primary" (click)="viewDetails(item)"><mat-icon>details</mat-icon>Détail</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </main>
</cdk-virtual-scroll-viewport>




