<h1>
    <nav>
        <a routerLink="/home">{{title}}</a>
    </nav>
</h1>
<p>
    <button mat-raised-button color="primary" (click)="creerDonneesDeTest()">
        Peupler BD avec données de test
    </button>
</p>

<div *ngIf="currentRoute !== '/login'">
    <p>Route courante : {{currentRoute}}</p>
    <nav>
        <a routerLink="/login">
            <button mat-raised-button (click)="login()">{{labelConnexion}}</button>
        </a>
    </nav>
    <p *ngIf="isLogged()">Vous êtes connecté en tant que {{nom}}</p>
</div>

<!-- Indique que le composant affiché sera celui
     correspondant à l'URL courant
-->
<router-outlet></router-outlet>